body{
    /* min-height: 90vh;
    background-image: url('/Personal-Portfolio/Images/hero-bg.png');
    background-size:   cover;                      
    background-repeat: no-repeat;
    filter: brightness(50%) saturate(140%);    */
    min-height: 90vh;
    /* background-color: #9dc5c3;
    background-image: linear-gradient(315deg, #9dc5c3 0%, #5e5c5c 74%); */
    /* background-color: black; */
    background-color: #203A43;
    background-color: #0F2027;
    background-color: #302b63;
    background-size:   cover; 
    background-repeat: no-repeat;
  
}



h1 {
    max-width: 40ch;
    /* text-align: center; */
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  }
  @keyframes scale {
    100% {
      transform: scale(1);
    }
  }


  span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
    font-family: 'Raleway', sans-serif;
    font-size: 3.5rem;
    color: white;
  }
  
  span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(2) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(3) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }

/* nav::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.5;
} */

.nav-link{
    color: white;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;   
}

.nav-link:hover{
    color: red;
}

section{
    margin-top:18rem;   
}

section a{
    border: 0.2rem solid white;
    border-radius: 30px;
    padding:0.5rem 3rem;
    margin-left: 5rem;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    color:white;
    background-color: black;
}

.p-btn:hover{
    background-color: grey;
    color:white;
}

.web{
    color: grey;
    font-size: 2rem;
    margin-left: 1rem;
}

.image{
    height: 40rem;
    width:40rem;
    margin-left: 5rem;
    margin-bottom: 30rem;
}
.image img{
    object-fit: cover;
    opacity: 0.8;
    filter: brightness(20%)
}

.section-1{
    padding: 0rem 30rem;
}